

.pagecontainer__header
  .smallmenudiv
    トップメニュー小さいの作る予定 
  .imagewrapper
    = image_tag('woodlogo.png', alt: "画像", class:"imagelogo")
    = image_tag('minilogo.png', alt: "画像", class:"miniimagelogo")
  .simplebar