

.pagecontainer__header
  .smallmenudiv
    -# トップメニュー小さいの作るかも。コンテンツ少ないから今はコメントアウト中
  .imagewrapper
    = image_tag('samefontlogo.png', alt: "画像", class:"imagelogo")
    = image_tag('smallname.png', alt: "画像", class:"miniimagelogofirst")
    = image_tag('smalljobhunt.png', alt: "画像", class:"miniimagelogosecond")
  .simplebar