
.pagecontainer
  
  
  = render "header" 


  .pagecontainer__main

    .contentswrapper

      -# 各アプリのメニューをjs使って折り畳んでおいてフォーマット整える予定

      .content
        =link_to image_tag('phpapp.png', alt: "画像", class:"imagelink", size:"300x200"),  "https://intense-mesa-88579.herokuapp.com/", class: "", target: "_blank"
        %ul.menu
          %li.menu__item
            %a.menu__item__link.js-menu__item__link{:href => ""} FreeMenta 詳細
            %ul.submenu
              %li.submenu__item
                %a{:href => "https://intense-mesa-88579.herokuapp.com/", :target => "blank", :class => "linkdecoration"} デプロイ先(heroku)のリンク
              %li.submenu__item
                %a{:href => "https://github.com/programmingdogw/practice_app", :class => "linkdecoration", target: "_blank"} githubレポジトリのリンク
              %li.submenu__item
                %a{:href => "", :class => "linkdecoration"} <span>補足情報 <br><br>テストアカウント<br>email: yamada@yamada.yamada<br>パスワード: yamadayamada<br></span>
       
      .content
        =link_to image_tag('5portfolioapp.png', alt: "画像", class:"imagelink", size:"300x200"), "http://18.180.245.39/", class: "", target: "_blank"
        %ul.menu
          %li.menu__item
            %a.menu__item__link.js-menu__item__link{:href => ""} 無在庫王 詳細
            %ul.submenu
              %li.submenu__item
                %a{:href => "http://18.180.245.39/", :target => "blank", :class => "linkdecoration"} デプロイ先（AWS）のリンク
              %li.submenu__item
                %a{:href => "https://github.com/programmingdogw/5portfolioapp", :class => "linkdecoration", target: "_blank"} githubレポジトリのリンク
              %li.submenu__item
                %a{:href => "", :class => "linkdecoration"} <span>補足情報 <br><br>テストアカウント<br>email: yamada@yamada.yamada<br>パスワード: yamadayamada</span>
    
      .content
        =link_to image_tag('portfoliopicturefurima.jpg', alt: "画像", class:"imagelink", size:"300x200"), "http://18.180.118.52", class: "", target: "_blank"
        %ul.menu
          %li.menu__item
            %a.menu__item__link.js-menu__item__link{:href => ""} チーム開発フリマアプリ 詳細
            %ul.submenu
              %li.submenu__item
                %a{:href => "http://18.180.118.52", :target => "blank", :class => "linkdecoration"} デプロイ先（AWS）のリンク
              %li.submenu__item
                %a{:href => "https://github.com/programmingdogw/freemarket_sample_66d", :class => "linkdecoration", target: "_blank"} githubレポジトリのリンク
              %li.submenu__item
                %a{:href => "", :class => "linkdecoration"} <span>補足情報 <br><br>ベーシック認証がかけてあります。<br>ユーザー名: admin<br>パスワード: 2222</span>
        -# %p チーム開発フリマアプリ
        -# =link_to "デプロイ先(AWS)", "http://18.180.118.52", target: "_blank"
        -# %br
        -# ユーザー名: admin
        -# %br
        -# パスワード: 2222
        -# %br
        -# =link_to "githubのurl(フォーク前)", "https://github.com/irohaas/freemarket_sample_66d", target: "_blank"
        -# %br
        -# =link_to "githubのurl(フォーク後)", "https://github.com/programmingdogw/freemarket_sample_66d", target: "_blank"

      
      
        
    .contentswrapper

      .content
        =link_to image_tag('portfoliopicturechatspace.png', alt: "画像", class:"imagelink", size:"300x200"), "https://github.com/programmingdogw/chat-space", class: "", target: "_blank"
        %ul.menu
          %li.menu__item
            %a.menu__item__link.js-menu__item__link{:href => ""} Pictweet 詳細
            %ul.submenu
              %li.submenu__item
                %a{:href => "", :target => "blank", :class => "linkdecoration"} 現在デプロイはしておりません
              %li.submenu__item
                %a{:href => "https://github.com/programmingdogw/pictweet", :class => "linkdecoration", target: "_blank"} githubレポジトリのリンク
              %li.submenu__item
                %a{:href => "", :class => "linkdecoration"} <span>補足情報 <br><br>カリキュラムにて作成したものです。一度AWSにデプロイしましたが、現在はしておりません（料金発生を防ぐためElasticIPを開放）。<br></span>

      .content
        =link_to image_tag('portfoliopicturepictweet.jpg', alt: "画像", class:"imagelink", size:"300x200"), "https://github.com/programmingdogw/pictweet", class: "", target: "_blank"
        %ul.menu
          %li.menu__item
            %a.menu__item__link.js-menu__item__link{:href => ""} Pictweet 詳細
            %ul.submenu
              %li.submenu__item
                %a{:href => "", :target => "blank", :class => "linkdecoration"} 現在デプロイはしておりません
              %li.submenu__item
                %a{:href => "https://github.com/programmingdogw/pictweet", :class => "linkdecoration", target: "_blank"} githubレポジトリのリンク
              %li.submenu__item
                %a{:href => "", :class => "linkdecoration"} <span>補足情報 <br><br>カリキュラムにて作成したものです<br></span>


      .content
        =link_to image_tag('portfoliopictureyourlife.jpg', alt: "画像", class:"imagelink", size:"300x200"),  "https://afternoon-scrubland-33526.herokuapp.com/", class: "", target: "_blank"
        %ul.menu
          %li.menu__item
            %a.menu__item__link.js-menu__item__link{:href => ""} Your Life 詳細
            %ul.submenu
              %li.submenu__item
                %a{:href => "https://afternoon-scrubland-33526.herokuapp.com/", :target => "blank", :class => "linkdecoration"} デプロイ先（heroku）のリンク
              %li.submenu__item
                %a{:href => "https://github.com/programmingdogw/6myapp", :class => "linkdecoration", target: "_blank"} githubレポジトリのリンク
              %li.submenu__item
                %a{:href => "", :class => "linkdecoration"} <span>補足情報 <br><br>挙動確認はできますが,S3設定をしていないのでdyno再起動毎に画像は消えます。詳しくはRead.meをご覧ください。プログラミングを勉強し始めてから二ヶ月経ったくらいに、とにかく色々と試しながら初めてアプリらしき物を作りました。色々と読めたものではないと思いますが、一応思い出に上げておきます。<br></span>

    .additionalcontents
      .simplebar
      .selfintroduction 
        = image_tag('career.png')
        -# - text = "渡辺公平34歳\n早稲田大学国際教養学部中退後、１０年近く塾講師を続けるも一念発起してエンジニアとして転職することを決意しました。\n半年ほどプログラミングスクールTech :: Expertに通い2020年５月２３日に修了しており、現在就職活動中です。\n最近はphpとlaravelでのアプリ作りに挑戦し、dockerを使ってデプロイしようとしたり、幅広く勉強しております。"
        -# = simple_format text
        %p 渡辺公平（34歳）：早稲田大学国際教養学部中退後、１０年近く塾講師を続けるも一念発起してエンジニアとして転職することを決意しました。半年ほどプログラミングスクールTech :: Expertに通い2020年５月２３日に修了しており、現在就職活動中です。最近はphpとlaravelでのアプリ作りに挑戦し、dockerを使ってデプロイしようとしたり、幅広く勉強しております。また、最近paizaを始めましたBランクです（上位30%らしい、未経験にしてはマシなのか？）。A目指して頑張ります。
        
       
        %br
        %br
        = image_tag('selfintrologo.png')
        -# - text = "人に教えるのも良いですが、これからは自分が学ぶことに力を傾けたいと思っております。日々新しいことを学ぶことが肝要なエンジニアという職業に強い魅力を感じているおり、良いご縁があることを切に願っている次第です。"
        -# = simple_format text
        %p 人に教えるのも良いですが、やはり自分が学ぶ方が面白いと思っております。日々新しいことを学ぶことが肝要なエンジニアという職業に強い魅力を感じているおり、良いご縁があることを切に願っている次第です。
        
        %br

        
        
        -# %br
        -# = image_tag('theothers.png')
        -# -# %p はてなブログやteratrailsのurlを載せておきます。主にはてなブログを後で見返すために自分用メモとして使っているだけです。
        -# %p あくまで自分向けの呟きなので、人に向けた発信ではないことをご了承ください。
        -# %p (勉強を始めてからの過程が気になる方もいるかと思い、念のため載せています)
        -# =link_to "はてなブログ", "https://programmingdog.hatenablog.com/"
        -# %br
        -# =link_to "teratail", "https://teratail.com/questions/247938#reply-359366"






  = render "footer"