
.pagecontainer
  
  
  = render "header" 


  .pagecontainer__main

    .contentswrapper

      .content
        =link_to image_tag('portfoliopicturefurima.jpg', alt: "画像", class:"", size:"300x200"), "http://18.180.118.52", class: ""
        %p チーム開発フリマアプリ
        =link_to "デプロイ先", "http://18.180.118.52"
        %br
        =link_to "githubのurl(まだフォーク前)", "https://github.com/irohaas/freemarket_sample_66d"

      .content
        =link_to image_tag('portfoliopictureyourlife.jpg', alt: "画像", class:"", size:"300x200"),  "https://afternoon-scrubland-33526.herokuapp.com/", class: ""
        %p 初作成アプリYourLife
        =link_to "デプロイ先", "https://afternoon-scrubland-33526.herokuapp.com/"
        %br
        =link_to "githubのurl", "https://github.com/programmingdogw/6myapp"

      .content
        =link_to image_tag('noimage.png', alt: "画像", class:"", size:"300x200"), root_path, class: ""
        %p 現在作成中のアプリ
        =link_to "デプロイ先", "#"
        %br
        =link_to "githubのurl", "#"

        
    .contentswrapper

      .content
        =link_to image_tag('noimage.png', alt: "画像", class:"", size:"300x200"), root_path, class: ""
        %p カリキュラムの副産物
        %br
        =link_to "githubのurl", "#"

      .content
        =link_to image_tag('noimage.png', alt: "画像", class:"", size:"300x200"),  root_path, class: ""
        %p やりかけのrailsチュートリアル
        %br
        =link_to "githubのurl", "#"

      .content
        =link_to image_tag('noimage.png', alt: "画像", class:"", size:"300x200"), root_path, class: ""
        %p 見栄えの調整（このサイト）
        %br
        =link_to "githubのurl", "#"

    



  = render "footer"