
.pagecontainer
  
  
  = render "header" 


  .pagecontainer__main

    .contentswrapper
      .content
        =link_to image_tag('noimage.png', alt: "画像", class:"", size:"200x200"), "http://18.180.118.52", class: ""
        %p チーム開発フリマアプリ
      .content
        =link_to image_tag('noimage.png', alt: "画像", class:"", size:"200x200"),  "https://afternoon-scrubland-33526.herokuapp.com/", class: ""
        %p YourLife
      .content
        =link_to image_tag('noimage.png', alt: "画像", class:"", size:"200x200"), root_path, class: ""
        %p 次のアプリ（今は仮置き）
    .contentswrapper
      .content
        =link_to image_tag('noimage.png', alt: "画像", class:"", size:"200x200"), root_path, class: ""
        %p コンテンツ
      .content
        =link_to image_tag('noimage.png', alt: "画像", class:"", size:"200x200"),  root_path, class: ""
        %p コンテンツ
      .content
        =link_to image_tag('noimage.png', alt: "画像", class:"", size:"200x200"), root_path, class: ""
        %p コンテンツ
    



  = render "footer"