%h1 トップページ
%p ポートフォリオサイト

=link_to "Your Life", "https://afternoon-scrubland-33526.herokuapp.com/", class: ""
=link_to "チーム開発フリマアプリへのリンク貼る予定", "", class: ""
=link_to image_tag('noimage.png', alt: "ロゴ画像", class:"logolink__image"), root_path, class: "logolink"