
.pagecontainer
  
  
  = render "header" 


  .pagecontainer__main

    .contentswrapper

      .content
        =link_to image_tag('noimage.png', alt: "画像", class:"", size:"300x200"), root_path, class: ""
        %p 現在作成中。今は仮置き。
        =link_to "デプロイ先（AWSにあげる予定）", "#"
        %br
        =link_to "githubのurl", "#"

      .content
        =link_to image_tag('portfoliopictureyourlife.jpg', alt: "画像", class:"", size:"300x200"),  "https://afternoon-scrubland-33526.herokuapp.com/", class: ""
        %p 初めての個人アプリYourLife
        =link_to "デプロイ先(heroku)", "https://afternoon-scrubland-33526.herokuapp.com/"
        %br
        =link_to "githubのurl", "https://github.com/programmingdogw/6myapp"

      .content
        =link_to image_tag('portfoliopicturefurima.jpg', alt: "画像", class:"", size:"300x200"), "http://18.180.118.52", class: ""
        %p チーム開発フリマアプリ
        =link_to "デプロイ先(AWS)", "http://18.180.118.52"
        %br
        =link_to "githubのurl(まだフォーク前)", "https://github.com/irohaas/freemarket_sample_66d"

        
    .contentswrapper

      .content
        =link_to image_tag('portfoliopicturechatspace.png', alt: "画像", class:"", size:"300x200"), root_path, class: ""
        %p chatspace(カリキュラムにて作成)
        %br こちらはデプロイはしておりません
        =link_to "githubのurl", "https://github.com/programmingdogw/chat-space"

      .content
        =link_to image_tag('portfoliopicturepictweet.jpg', alt: "画像", class:"", size:"300x200"), "https://github.com/programmingdogw/pictweet", class: ""
        %p pictweet(カリキュラムにて作成) 
        %br こちらはデプロイはしておりません
        =link_to "githubのurl", "https://github.com/programmingdogw/pictweet"

      .content
        =link_to image_tag('portfoliopicture.jpg', alt: "画像", class:"", size:"300x200"),  root_path, class: ""
        %p 当サイト
        %br 見栄えのために入れてます
        =link_to "githubのurl", "https://github.com/programmingdogw/selfintroduction"

    .additionalcontents
      .simplebar
      .selfintroduction 
        %P 自己紹介
        %br 渡辺公平(34歳)
        %br ３４歳で心機一転、塾講師からエンジニアを目指して転職活動中。人に教えるのも良いですが、自分が学ぶことに力を傾けたいと思っております。日々新しいことを学ぶことが肝要なエンジニアという職業に強い魅力を感じておりますので、良いご縁があることを切に願っております。
            
            
           





  = render "footer"